<div class="container mt-2" >
    <div class="row text-center">
      
      <div class="col-md-3">
        <div class="counter-card">
          <i class="fas fa-users icon"></i>
          <h3>{{ savingsRate}}</h3>
          <p>Savings Account Interest</p>
        </div>
      </div>
 
     
      <div class="col-md-3">
        <div class="counter-card">
          <i class="fas fa-university icon"></i> 
          <h3>{{ currentRate}}</h3>
          <p>Current Account Interest</p>
        </div>
      </div>


    </div>