.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  min-width: 700px; /* Adjust as needed */
}

.table th, .table td {
  text-align: center;
}

.action-buttons button {
  margin-right: 5px;
}
.table-hover tbody tr:hover {
  background-color: #FFA500;
}

.table thead th {
  background-color: rgb(10, 10, 107);
  color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.table {
  border: 1px solid #dee2e6;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: #FFA500;
}

.table thead th {
  background-color: rgb(10, 10, 107);
  color: #ffffff;
  white-space: nowrap; /* Added style for uniform header in a single line */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.table {
  border: 1px solid #dee2e6;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
}