<div *ngIf="transactions && transactions.length === 0">
  <div
    class="container mt-4 d-flex justify-content-center align-items-center"
    style="height: 100vh;"
  >
    <ngb-alert class="bg-danger text-white" style="opacity: 0.9;">
      <h1>Sorry, No Transactions</h1>
      <button class="btn btn-light" (click)="refreshFun()">Try Again</button>
    </ngb-alert>
  </div>
</div>

<h1 class="my-4 display-4 fw-bold ls-tight" style="font-size: 3rem;">
  " Instant Insights, Infinite Control: <br />
  <span class="text-primary" style="font-size: 3rem;"
    >Explore Your Financial Snapshots..."</span
  >
</h1>
<br>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-7">
      <!-- Specify that the form should occupy 6 out of 12 columns -->
      <h2> Specify Range....</h2>
      
      <form
        [formGroup]="dateFilterForm"
        (ngSubmit)="onSubmit(dateFilterForm.value)"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="startDate">Starting Date:</label>
            <input
              type="date"
              class="form-control custom-date-input"
              formControlName="date"
            />
            <div
              *ngIf="startDateValidator && startDateValidator.invalid && startDateValidator.touched"
              style="color: red;"
            >
              Required Customer ID*
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="endDate">Ending Date:</label>
            <input
              type="date"
              class="form-control custom-date-input"
              formControlName="endDate"
            />
            <div
              *ngIf="endDateValidator && endDateValidator.invalid && endDateValidator.touched"
              style="color: red;"
            >
              Required Customer ID*
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="accountType">Select Account Number:</label>
          <select
            formControlName="accountNumber"
            class="form-control custom-account-input"
          >
            <option value="" disabled selected>Select Account Number</option>
            <option
              *ngFor="let item of accountStorage"
              [value]="item.accountNumber"
              >{{ item.accountNumber }}</option
            >
          </select>
          <div
            *ngIf="accountNumberValidator && accountNumberValidator.invalid && accountNumberValidator.touched"
            class="text-danger"
          >
            Account type is required*
          </div>
        </div>

        <div class="form-group text-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="dateFilterForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- date-filter.component.html -->
<h1 >
  
</h1>



<div class="container mt-4">
  <h2 class="my-4 display-4 fw-bold ls-tight" style="font-size: 2rem;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MINI-STATEMENT</h2>
<br>
  <!-- Display the table only if there are transactions -->
  <table *ngIf="transactions && transactions.length > 0" class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th style="width: 1000px;">Transaction ID</th>
        <th style="width: 1000px;">Account ID</th>
        <th style="width: 1000px;">Description</th>
        <th style="width: 1000px;">Transaction Amount</th>
        <th style="width: 1000px;">Transaction Date</th>
        <th style="width: 1000px;">Transaction Type</th>
        <th style="width: 1000px;">To Account</th>
        
      </tr>
    </thead>
    <tbody>
      <!-- Iterate over transactions and display each transaction in a row -->
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.transactionId }}</td>
        <td>{{ transaction.accountId }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.transactionAmount }}</td>
        <td>{{ transaction.transactionDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ transaction.transactionType }}</td>
        <td>{{ transaction.recieverAccountNumber }}</td>

      </tr>
    </tbody>
  </table>
  


  <button
    (click)="downloadTable()"
    [disabled]="downloading"
    class="btn btn-primary"
  >
    {{ downloading ? 'Downloading...' : 'Download Table' }}
  </button>
</div>
<pre>{{transactions}}</pre>